<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails</em></a> is a
  <a href="http://www.railstutorial.org/">book</a> and
  <a href="http://screencasts.railstutorial.org/">Screencast series</a>
  to teach development with
  <a href="http://rubyrails.org/">Ruby</a>
</p>